* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: rgb(91, 96, 102);
  margin: 0;
}

.app {
  background-color: #f3f4f6;
}

.headerTopWrapper {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  background-color: #131921;
}

.logoLink {
  max-width: 11rem;
}

.logo {
  max-width: 100%;
  cursor: pointer;
}

.searchWrapper {
  margin: 0 1.2rem 0 1.5rem;
  background-color: #facc15;
  display: flex;
  flex-grow: 1;
  align-items: center;
  height: 2.5rem;
  border-radius: 0.4rem;
  cursor: pointer;
}

.searchWrapper:hover {
  background-color: #eab308;
}

.searchBar {
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.6rem;
  height: 100%;
  border-radius: 0.4rem 0 0 0.4rem;
  border-style: none;
  font-size: 1.2rem;
}

.searchBar:focus {
  outline: none;
}

.searchIcon {
  margin: 0 0.3rem;
  padding: 0.35rem;
  height: 2.5rem;
  width: 2.5rem;
}

.headerTextWrapper {
  margin: 0;
  display: flex;
  color: white;
  align-items: center;
  white-space: nowrap;
}

.headerTextDiv {
  margin: 0 0.4rem;
  padding: 0.4rem;
  cursor: pointer;
}

.headerTextDiv:hover {
  outline: 1px solid white;
}

.headerTextTop {
  margin: 0;
  padding: 0.2rem;
  font-size: 0.875rem;
  line-height: 1rem;
}

.headerTextBottom {
  margin: 0;
  padding: 0.2rem;
  font-weight: bold;
  font-size: 0.925rem;
  line-height: 0.9rem;
}

.headerLink {
  text-decoration: none;
  color: white;
}

.headerLink:visited {
  text-decoration: none;
  color: white;
}

.cartLink {
  display: flex;
  text-decoration: none;
  color: white;
  align-items: center;
  position: relative;
}

.shoppingCartIcon {
  height: 2.5rem;
}

.cartCount {
  position: absolute;
  top: -0.4rem;
  right: 1.9rem;
  height: 1.2rem;
  width: 1.1rem;
  background-color: #facc15;
  text-align: center;
  border-radius: 50%;
  color: black;
  font-family: 'Franklin Gothic';
  font-weight: 800;
}

.headerBottomWrapper {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  background-color: #232F3E;
  color: white;
  font-family: sans-serif;
  font-size: 0.925rem;
}

.headerBottomLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

.menuText {
  margin: 0.4rem 0.75rem;
  padding: 0.9rem 0.5rem;
  display: flex;
  align-items: center;
  height: 1.6rem;
  cursor: pointer;
}

.menuText:hover {
  outline: 1px solid white;
}

.menuIcon {
  margin: 0 0.3rem 0 0;
  height: 1.6rem;
}

.landing {
  margin: 0 auto;
  max-width: 100rem;
}

.bannerContainer {
  position: relative;
}

.gradient {
  position: absolute;
  width: 100rem;
  height: 8rem;
  background-image: linear-gradient(to top, #f3f4f6, rgba(255,0,0,0));
  bottom: 0;
  z-index: 20;
}

.productCard {
  margin: 1.3rem;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  position: relative;
  z-index: 30;
}

.cardImg {
  width: 16rem;
  height: 16rem;
  object-fit: cover;
}

.cardName {
  margin: 1rem 0 0.5rem 0;
  font-size: 1.1rem;
  
}

.ratingContainer {
  display: flex;
}

.starIcon {
  width: 1.4rem;
  height: 1.4rem;
  color: #eab308;
}

.cardDescription {
  margin: 0.6rem 0;
  font-size: 0.8rem;
}

.cardPrice {
  margin: 0.4rem 0 1.3rem 0;
}

.prime {
  margin: -1.5rem 0 0 0.5rem;
  display: flex;
  align-items: center;
  
}

.primeImg {
  width: 4rem;
}

.primeTxt {
  font-size: 0.8rem;
  color: #6b7280;
}

.cardBtn {
  margin-top: auto;
  padding: 0.8rem;
  background-image: linear-gradient(to bottom,#f7dfa5,#f0c14b);
  border-color: #a88734 #9c7e31 #846a29;
  border-radius: 0.2rem;
  border-width: 0.06rem;
}



















/* @media (max-width: 640px) {
  .headerTopWrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
} */